.About{
    background-color: #ffffff;
    margin-top: 63px;
}
.About.container{
    padding: 0 15px;
    /*padding: 60px 0 30px 0;*/
    /*!*background-color: #ffffff;*!*/
    /*margin: 0 auto;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*position: relative;*/
}
.About .container h5{
    color: #333333;
    text-align: center;
    font-size: 30px;
    font-family: 'Lato-Bold';
}
.About .container .sub-title{
    margin-top: 10px;
}
.About .container .coment{
    font-family: 'Lato-Regular';
    font-size: 16px;
    color:#666666;
    text-align: center;
    line-height: 22px;
    margin-top: 19px;
}
.About ul{
    margin-top: 55px;
    width: 45%;
    position: relative;
    margin-left: 46px;
}
.About .container li{
    list-style-type: none;
}
.About .container li p{
    color: #666666;
    font-size: 16px;
    font-family: 'Lato-Regular';
    line-height: 1.2;
    margin-bottom: 0rem;
    margin-top: 0px;
    margin-left: 0px;
}
.About .container h6{
    font-size: 18px;
    text-transform: uppercase;
    font-family: Lato-Bold;
    line-height: 2;
    color: black;
}
.About .container li:nth-child(2){
    margin-top: 9px;
}
.About .container li:nth-child(3){
    margin-top: 12px;
}
.About .container h6:nth-child(1)::before{
    content: " ";
    width: 31px;
    height: 20px;
    background-image: url(../img/eye.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -46px;
    top: 3.5%;
}
.About .container li:nth-child(2) h6::before{
    content: " ";
    width: 31px;
    height: 32px;
    background-image: url(../img/tassel.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -45px;
    top: 35%;
}
.About .container li:nth-child(3) h6::before{
    content: " ";
    width: 31px;
    height: 28px;
    background-image: url(../img/heart.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -46px;
    top: 72.1%;
}
.About .container button{
    font-family: 'Lato-Regular';
    margin: 34px 0px;
    font-size: 16px;
    color: rgba(51, 51, 51, 255);
    text-transform: uppercase;
    border: 2px solid #9966cc;
    border-radius: 30px;
    padding: 7px 24px;
    background-color: transparent;
}
.About .container button:hover{
    color: #9149da;
}
