.blogMesseg{
    background-color: #f9f9f9;
}
.blogMesseg .container{
    padding-top: 38px;
    padding-bottom: 20px;
}
.blogMesseg .container .sub-title{
    padding-bottom: 40px;
}
.blogMesseg .container .testimonials {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: auto;
    grid-column-gap: 28px;
}

.blogMesseg .container .testimonials .user_review img {
    display: grid;
    /* justify-self: center; */
    margin: 0px auto;
    border: 5px solid #dadada;
    border-radius: 50%;
    width: 130px;
    z-index: 5;
}
.blogMesseg .container .testimonials .user_review .neme{
    text-transform: uppercase;
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    padding-top: 35px;
    padding-bottom: 4px;
}
.blogMesseg .container .testimonials  hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.blogMesseg .container .testimonials .user_review .benefitsInfo{
    margin-bottom: -1px;
    /*padding-left: 12px;*/
    line-height: 1.9;
}
.blogMesseg .container .testimonials .user_review span{
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: rgba(153, 153, 153, 255);
    text-align: left;
}
.blogMesseg .container .testimonials .fa-file-alt,
.blogMesseg .container .testimonials .fa-comment{
    padding-left: 12px;
    color: rgba(153, 153, 153, 255);
}
.blogMesseg .container .testimonials .benefitsText{
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: rgba(102, 102, 102, 255);
    text-align: center;
    padding: 21px 12px 10px;
}
