.benefits{
    background-color: #333333;
}
.benefits .container{
    padding-top: 60px;
    padding-bottom: 50px;
}
.benefits .container h4{
    color: #ffffff;
}
.benefits .container .sub-title{
    color: rgba(204, 204, 204, 255)
}
.benefits .container .textP{
    font-family: 'Lato-Regular';
    font-size: 15.5px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.benefits .container .benefitsInfo{
    display: grid;
    grid-auto-flow: column;
    padding-top: 94px;
}
.benefits .container .benefitsInfo .picture{
    width: 100px;
    display: grid;
    height: 105px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 auto;
    justify-content: center;
}
.benefits .container .benefitsInfo .picture img{
    display: grid;
    align-self: center;
}
.benefits .container .benefitsInfo .lorems{
    font-family: 'Lato-Bold';
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}
.benefits .container .benefitsInfo .text{
    font-family: 'Lato-Regular';
    font-size: 16px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
