.portfolio{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.portfolio h4{
    font-family: 'Lato-Bold';
    text-align: center;
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    margin-top: 16px;
    margin-bottom: 20px;
}
.portfolio .sub-title{
    font-family: 'Georgia';
    font-size: 16px;
    color: #666666;
    text-align: center;
    font-style: italic;
    line-height: 32px;
    padding-top: 0px;
}
.portfolio .toggles a{
    border: none;
    text-transform: uppercase;
    color: #666666;
    font-family: 'Lato-Bold';
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin: 6px 6px;
    padding: 6px 15px;
    background-color: transparent;
}
.portfolio .toggles {
    padding-bottom: 23px;
}
.portfolio .toggles a.active{
  color: #9966cc;
}
.portfolio .toggles a:hover{
    background-color: #ded5d5;
}
.portfolio .posts{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 317px 317px 317px 317px 317px 317px;
    /*grid-template-columns: 320px 320px auto auto auto auto auto;*/
}
.portfolio .posts .post{
    width: 317px;
    height: 213px;
}
button:focus {
    outline: none;
    outline:none;
}

.portfolio .posts .post{
    position: relative;
    background-color: #9966cc;
}
.portfolio .posts .post img{
     width: 100%;
     height: 100%;
 }
.portfolio .posts .post h6,
.portfolio .posts .post h6+p{
    display: none;
}
.portfolio .posts .post:hover img{
    display: none;
}
.portfolio .posts .post:hover h6{
    padding-top: 40px;
    animation: anime-H6 0.5s ease-out;
}
.portfolio .posts .post:hover h6+p{
    animation: anime-p 0.5s ease-out;
}
.portfolio .posts .post:hover h6,
.portfolio .posts .post:hover h6+p{
    display: block;
}


.portfolio .posts .design h6,
.portfolio .posts .urban h6,
.portfolio .posts .posters h6{
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}
.portfolio .posts .design p,
.portfolio .posts .urban p,
.portfolio .posts .posters p{
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: rgba(249, 249, 249, 255);
    text-align: center;
    padding: 0 42px;
}
/*.SET*/
.portfolio .set {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}
.portfolio .blok {
    width: 300px;
    padding: 65px 40px 26px 40px;
}
.portfolio .tv,
.portfolio .cog,
.portfolio .star{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: #9966cc;
    margin: 0 auto;
}
.portfolio .tv i{
    font-weight: 900;
    font-size: 26px;
    color: white;
    padding: 30px 0;

}
.portfolio .cog i{
    font-weight: 900;
    font-size: 32px;
    color: white;
    padding: 28px 0;
}
.portfolio .star i{
    font-weight: 900;
    font-size: 30px;
    color: white;
    padding: 28px 0;
}
.portfolio .eye {
    border: 1px solid #9966cc;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin: 0 auto;
}
.portfolio .eye i{
    color: #9966cc;
    font-size: 35px;
    justify-content: center;
    display: flex;
    padding: 23px 0;
}
.portfolio .set .blok h6{
    text-transform: uppercase;
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    padding: 30px 0 20px 0;
    font-weight: 200;
}
.portfolio .set .blok p {
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: rgba(177, 177, 177, 255);
    text-align: center;
}

@keyframes anime-H6 {
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes anime-p {
    0%{
        opacity: 0;
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
