.texts{
    background-color: #666666;
}
.texts .container{
    /*background-color: #666666;*/
    padding-top: 148px;
    padding-bottom: 110px;
}
.texts .container h4{
    font-family: 'Georgia';
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    font-style: italic;
}

.texts .container hr {
    margin: 20px 0;
    border: 0;
    width: 58px;
    margin: 20px auto;
    border-top: 2px solid #ffffff;
     border-bottom: none;
}
.texts .container p{
    font-family: 'Lato-Italic';
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}

