.testimonials .container{
    padding-top: 50px;
    padding-bottom: 34px;
}
.testimonials .container h4{
    font-family: 'Lato-Bold';
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
}
.testimonials .container .sub-title{
    font-family: 'Georgia';
    font-size: 16px;
    color: #666666;
    text-align: center;
    font-style: italic;
    line-height: 32px;
    padding-top: 5px;
    padding-bottom: 36px;
}
.testimonials .container .testimonial{
    font-family: 'Georgia';
    font-style: italic;
    font-size: 16px;
    color: rgba(102, 102, 102, 255);
    text-align: center;
}
.testimonials .container .testimonialFoto{
    width: 120px;
    height: 120px;
    border: 2px solid #e5e5e5;
    border-radius: 70px;
}
.testimonials .container .user{
    display: flex;
    width: 50%;
    padding-bottom: 143px;
    transform: translate(76%,50px)
}
.testimonials .container .testimonialFoto img{
    transform: translate(8px,4px);
}
.testimonials .container .userName {
    padding-left: 20px;
    padding-top: 37px;
}
.testimonials .container .userName p:first-child{
    font-size: 16px;
    color: rgba(51, 51, 51, 255);
    font-family: 'Lato-Regular';
    text-transform: uppercase;
}
.testimonials .container .userName p:last-child{
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: rgba(153, 153, 153, 255);
}
.testimonials .carousel-indicators .active {
    opacity: 1;
    width: 8px;
    height: 8px;
    border: 3px solid #999999;
    background-color: transparent;
    margin-top: -3px;
}
.testimonials .carousel-indicators li{
    background-color: #cccccc;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin-right: 8px;
    margin-left: 8px;
    border-top: none;
    border-bottom: none;
}

.testimonials .carousel-indicators {
    position: absolute;
    top: 290px;
    right: 7px;
}
.testimonials .your-class {
    display: flex;
    padding:  21px 0;
}
.testimonials .your-class .slick-initialized .slick-slide{
    padding: 0 20px;
}
.testimonials .your-class .slick-slide img{
    display: block;
    margin: 0 auto;
}
.testimonials .slick-prev, .slick-next{
    position: absolute;
    top: 46%;
    right: -37px;

}
.testimonials .slick-prev:before, .slick-next:before{
    color: #cccccc;
    font-size: 34px;
}
.testimonials .slick-prev:hover:before,
.testimonials .slick-next:hover:before{
    color: #999999;
}
