.countProgress{
    background-color: #9966cc;
}
.countProgress .container{
    padding-top: 56px;
    padding-bottom: 34px;
}
.countProgress .container h4{
    font-family: 'Lato-Bold';
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-bottom: 14px;
}
.countProgress .container .sub-title{
    font-family: 'Georgia';
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-style: italic;
    line-height: 32px;
    padding-top: 5px;
    padding-bottom: 36px;
}
.countProgress .container #counter {
    display: flex;
    justify-content: center;
}
.countProgress .container #counter .b1{
    width: 200px;
    height: 150px;
    margin: 0 40px;
}
.countProgress .container #counter .b1 .number{
    font-family: 'Lato-Bold';
    font-size: 60px;
    color: rgba(255, 255, 255, 255);
    transform: translate(0%, 135%);
    text-align: center;
}
.countProgress .container #counter .b1 .text{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato-Regular';
    font-size: 18px;
    /* padding-top: 68px; */
    color: rgba(255, 255, 255, 255);
    transform: translate(0%, 333%);
}
