
@import "../fonts/fonts.css";

@import "blockHeader.css";
@import "blockUbout.css";
@import "blockPortfolio.css";
@import "blockTestimonials.css";
@import "blockCountProgresss.css";
@import "blockText.css";
@import "blockOurServices.css";
@import "blockOurTeam.css";
@import "blockBenefits.css";
@import "blockPlans.css";
*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px !important;
}
.sub-title{
    font-family: 'Georgia';
    font-size: 16px;
    color: #666666;
    text-align: center;
    font-style: italic;
    line-height: 32px;
    padding-top: 5px;
    /*padding-bottom: 36px;*/
}
h4{
    font-family: 'Lato-Bold';
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
}
