@import "../fonts/fonts.css";
* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px !important;
  margin: 0 auto;
}
.sub-title {
  font-family: 'Georgia';
  font-size: 16px;
  color: #666666;
  text-align: center;
  font-style: italic;
  line-height: 32px;
  margin-top: 5px;
}
h4 {
  font-family: 'Lato-Bold';
  font-size: 30px;
  color: #333333;
  text-align: center;
  margin-bottom: 0rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem;
}
.header-top {
  background: linear-gradient(to bottom right, #8f66b9, #ca7f2f);
}
.header-top .container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: auto;
  margin: 0 auto;
}
.header-top .container .row {
  display: flex;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.header-top .container .col-social {
  width: 13%;
  border-right: 1px solid #bda6c1;
  padding: 14px 0 !important;
}
.header-top .container .col-social span {
  margin: 0 0 0 20px;
}
.header-top .container .col-social span a {
  margin: 5px 5px !important;
}
.header-top .container .col-social span a i {
  font-size: 18px;
  color: #ffffff;
}
.header-top .container .col-social i:hover {
  color: #7f00ff57;
}
.header-top .container .col-empty {
  width: 49%;
  border-right: 1px solid #bda6c1;
}
.header-top .container .col-Email {
  width: 20.5%;
  border-right: 1px solid #bda6c1;
  padding: 9px 0 !important;
}
.header-top .container .Email {
  display: flex;
  justify-content: center;
}
.header-top .container .col-phone {
  width: 17%;
  margin: 9px 0 !important;
}
.header-top .container .Phone {
  text-align: end;
  padding-right: 7px !important;
}
.header-top .container .latoReg {
  font-family: 'Lato-Regular';
  font-size: 15px;
  color: #e5e5e5;
  line-height: 2;
}
.header-top .container .latoBolt {
  font-family: 'Lato-Bold';
  font-size: 17px;
  margin-top: 2px;
}
.header-top .container p {
  color: white;
  margin-bottom: 0rem;
}
.header-top .container.col-Email .latoBolt {
  padding-left: 3px;
}
.header-top hr {
  width: 100%;
  color: #bda6c1;
  height: 1px;
  background-color: #bda6c1;
  border: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.header-top .header_Main {
  position: relative;
  padding-top: 43px;
  padding-bottom: 100px;
}
.header-top .header_Main h4 {
  font-size: 41px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Anders';
}
.header-top .header_Main .nav {
  width: 65%;
  margin: 10px auto;
}
.header-top .header_Main .nav > li > a:hover {
  background-color: #eeeeee00;
  text-decoration: underline;
}
.header-top .header_Main .nav-item {
  margin: 0 9px;
}
.header-top .header_Main .nav-item .active {
  color: #ffffff;
}
.header-top .header_Main .nav-link {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #e5e5e5;
  font-family: 'Lato-Bold';
}
.header-top .header_Main .carousel {
  height: auto;
  margin-top: 160px;
}
.header-top .header_Main .carousel-inner {
  margin: 0 11%;
  width: 77%;
}
.header-top .header_Main h1 {
  font-family: 'Lato-Bold';
  font-size: 96px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  line-height: 80px;
  margin-bottom: -11px !important;
}
.header-top .header_Main .carousel-item p:nth-child(2) {
  font-family: 'Lato-Bold';
  text-transform: uppercase;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0rem;
  margin-top: 22px;
}
.header-top .header_Main .carousel-item p:nth-child(3) {
  font-family: 'Lato-Regular';
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  margin-top: 57px;
  line-height: 1;
}
.header-top .header_Main button {
  border: 2px solid #cccccc;
  border-radius: 50px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  margin: 37px auto;
  padding: 6px 31px;
}
.header-top .header_Main button:hover {
  color: #4e108c;
  border: 2px solid #4e108c;
}
.header-top .header_Main .carousel-control-next {
  width: 5% !important;
}
.header-top .header_Main .carousel-control-prev {
  width: 5% !important;
}
.header-top .header_Main .carousel-control-next-icon {
  height: 0;
  position: absolute;
  top: 102px;
  left: 2px;
}
.header-top .header_Main .carousel-control-prev-icon {
  background-image: none;
  position: absolute;
  top: 102px;
  right: 12px;
}
.header-top .header_Main .carousel-indicators {
  position: absolute;
  top: 418px;
}
.header-top .header_Main .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  margin-right: 8px;
  margin-left: 8px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-colip: none;
  border-top: none;
  border-bottom: none;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.header-top .header_Main .carousel-indicators .active {
  opacity: 1;
  width: 8px;
  height: 8px;
  border: 3px solid white;
  background-color: transparent;
  margin-top: -3px;
}
.header-top .header_Main .far {
  font-size: 30px;
}
.header-top .header_Main.carousel-control-prev-icon {
  height: 0;
}
.About {
  background-color: transparent;
  margin-top: 63px;
}
.About .container h5 {
  color: #333333;
  text-align: center;
  font-size: 30px;
  font-family: 'Lato-Bold';
}
.About .container .sub-title {
  margin-top: 10px;
}
.About .container .coment {
  font-family: 'Georgia';
  font-size: 16px;
  color: #666666;
  text-align: center;
  line-height: 22px;
  margin-top: 19px;
}
.About .container li {
  list-style-type: none;
}
.About .container li p {
  color: #666666;
  font-size: 16px;
  font-family: 'Georgia';
  line-height: 1.2;
  margin-bottom: 0rem;
  margin-top: 0px;
  margin-left: 0px;
}
.About .container li:nth-child(2) {
  margin-top: 9px;
}
.About .container li:nth-child(2) h6::before {
  content: " ";
  width: 31px;
  height: 32px;
  background-image: url(../img/tassel.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -45px;
  top: 35%;
}
.About .container li:nth-child(3) {
  margin-top: 12px;
}
.About .container li:nth-child(3) h6::before {
  content: " ";
  width: 31px;
  height: 28px;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -46px;
  top: 72.1%;
}
.About .container h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Lato-Regular';
  line-height: 2;
  color: #999999;
}
.About .container h6:nth-child(1)::before {
  content: " ";
  width: 31px;
  height: 20px;
  background-image: url(../img/eye.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -46px;
  top: 3.5%;
}
.About .container button {
  font-family: 'Georgia';
  margin: 34px 0px;
  font-size: 16px;
  color: #cccccc;
  text-transform: uppercase;
  border: 2px solid #9966cc;
  border-radius: 30px;
  padding: 7px 24px;
  background-color: #cccccc;
}
.About .container button:hover {
  color: #999999;
}
.About ul {
  margin-top: 55px;
  width: 45%;
  position: relative;
  margin-left: 46px;
}
.About.container {
  padding: 0 15px;
}
@keyframes anime-H6 {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes anime-p {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.Works {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.Works h4 {
  font-family: 'Lato-Bold';
  text-align: center;
  font-size: 30px;
  color: #333333;
  margin-top: 16px;
}
.Works .sub-title {
  font-family: 'Georgia';
  font-size: 16px;
  color: #666666;
  text-align: center;
  font-style: italic;
  line-height: 32px;
  margin-top: 12px;
}
.Works .toggles {
  margin-top: 23px;
}
.Works .toggles a {
  border: none;
  text-transform: uppercase;
  color: #666666;
  font-family: 'Lato-Bold';
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin: 6px 10px;
  padding: 6px 15px;
  background-color: transparent;
}
.Works .toggles a:hover {
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.2);
}
.Works .toggles a.active {
  color: #999999;
}
.Works .posts {
  width: 100%;
  margin: 34px 0 0 0;
}
.Works .posts .post {
  width: 317px;
  height: 213px;
  position: relative;
  background-color: #cccccc;
}
.Works .posts .post img {
  width: 100%;
  height: 100%;
}
.Works .posts .post h6 {
  display: none;
}
h6.Works .posts .post + p {
  display: none;
}
.Works .posts .post:hover img {
  display: none;
}
.Works .posts .post:hover h6 {
  padding-top: 40px;
  animation: anime-H6 0.5s ease-out;
  display: block;
}
h6.Works .posts .post:hover + p {
  animation: anime-p 0.5s ease-out;
  display: block;
}
.Works .posts .design h6 {
  font-family: 'Lato-Regular';
  font-size: 16px;
  color: #cccccc;
  text-transform: uppercase;
  text-align: center;
}
.Works .posts .design p {
  font-family: 'Lato-Regular';
  font-size: 14px;
  color: #999999;
  text-align: center;
  padding: 0 42px;
}
.Works .posts .urban h6 {
  font-family: 'Lato-Regular';
  font-size: 16px;
  color: #cccccc;
  text-transform: uppercase;
  text-align: center;
}
.Works .posts .urban p {
  font-family: 'Lato-Regular';
  font-size: 14px;
  color: #999999;
  text-align: center;
  padding: 0 42px;
}
.Works .posts .posters h6 {
  font-family: 'Lato-Regular';
  font-size: 16px;
  color: #cccccc;
  text-transform: uppercase;
  text-align: center;
}
.Works .posts .posters p {
  font-family: 'Lato-Regular';
  font-size: 14px;
  color: #999999;
  text-align: center;
  padding: 0 42px;
}
.Works button:focus {
  outline: none;
}
.Benfits {
  background-color: transparent;
}
.Benfits .set {
  display: flex;
  justify-content: center;
}
.Benfits .set .blok h6 {
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  font-size: 16px;
  color: #999999;
  text-align: center;
  padding: 30px 0 20px 0;
  font-weight: 200;
}
.Benfits .set .blok p {
  font-family: 'Lato-Bold';
  font-size: 16px;
  color: #cccccc;
  text-align: center;
}
.Benfits .blok {
  position: relative;
  margin: 65px 20px;
}
.Benfits .tv {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: #cccccc;
  margin: 0 auto;
}
.Benfits .tv span {
  font-weight: 900;
  font-size: 26px;
  color: #333333;
  display: grid;
  justify-content: center;
  transform: translateY(115%);
}
.Benfits .cog {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: #cccccc;
  margin: 0 auto;
}
.Benfits .cog span {
  font-weight: 900;
  font-size: 36px;
  color: #333333;
  display: grid;
  justify-content: center;
  transform: translateY(71%);
}
.Benfits .star {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: #cccccc;
  margin: 0 auto;
}
.Benfits .star span {
  font-weight: 900;
  font-size: 36px;
  color: #333333;
  display: grid;
  justify-content: center;
  transform: translateY(71%);
}
.Benfits .eye {
  border: 1px solid #9966cc;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin: 0 auto;
}
.Benfits .eye span {
  color: #666666;
  font-size: 36px;
  display: grid;
  justify-content: center;
  transform: translateY(70%);
}
/*slick slider*/
.Testimonials {
  padding-top: 50px;
  padding-bottom: 34px;
}
.Testimonials .container h4 {
  font-family: 'Lato-Bold';
  font-size: 30px;
  color: #333333;
  text-align: center;
}
.Testimonials .container .carousel {
  margin-top: 43px;
  line-height: 1.3;
}
.Testimonials .container .testimonial {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 16px;
  color: #666666;
  text-align: center;
}
.Testimonials .container .userFoto {
  width: 120px;
  height: 120px;
  border: 2px solid #e5e5e5;
  border-radius: 70px;
}
.Testimonials .container .userFoto img {
  transform: translate(8px, 4px);
}
.Testimonials .container .user {
  grid-template-columns: 120px auto;
  display: grid;
  width: 63%;
  justify-content: end;
  margin-top: 52px;
  line-height: 0.2;
}
.Testimonials .container .userName {
  margin: 36px 25px;
}
.Testimonials .container .userName p:first-child {
  font-size: 16px;
  color: #333333;
  font-family: 'Lato-Regular';
  text-transform: uppercase;
}
.Testimonials .container .userName p:last-child {
  font-family: 'Lato-Regular';
  font-size: 16px;
  color: #999999;
  margin-bottom: 0rem;
}
.Testimonials .carousel-indicators {
  position: absolute;
  top: 290px;
  right: -3px;
}
.Testimonials .carousel-indicators .active {
  opacity: 1;
  width: 8px;
  height: 8px;
  border: 3px solid #999999;
  background-color: transparent;
  margin-top: -3px;
}
.Testimonials .carousel-indicators li {
  background-color: #cccccc;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  margin-right: 8px;
  margin-left: 8px;
  border-top: none;
  border-bottom: none;
}
.Testimonials .your-class {
  display: flex;
  margin-top: 130px;
}
.Testimonials .your-class .slick-initialized .slick-slide {
  margin: 0 20px;
}
.Testimonials .your-class .slick-slide img {
  display: block;
  margin: 0 auto;
}
.Testimonials .slick-prev {
  position: absolute;
  top: 46%;
  right: -37px;
}
.Testimonials .slick-prev:before {
  color: #cccccc;
  font-size: 34px;
}
.Testimonials .slick-prev:hover:before {
  color: #999999;
}
.Testimonials .slick-next {
  position: absolute;
  top: 46%;
  right: -37px;
}
.Testimonials .slick-next:before {
  color: #cccccc;
  font-size: 34px;
}
.Testimonials .slick-next:hover:before {
  color: #999999;
}
/*# sourceMappingURL=main.css.map */