.Works{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.Works h4{
    font-family: 'Lato-Bold';
    text-align: center;
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    margin-top: 16px;
}
.Works .sub-title{
    font-family: 'Georgia';
    font-size: 16px;
    color: #666666;
    text-align: center;
    font-style: italic;
    line-height: 32px;
    margin-top: 12px;
}
.Works .toggles {
    margin-top: 23px;
}
.Works .toggles a{
    border: none;
    text-transform: uppercase;
    color: #666666;
    font-family: 'Lato-Bold';
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin: 6px 10px;
    padding: 6px 15px;
    background-color: transparent;
}
.Works .toggles a.active{
    color: #9966cc;
}
.Works .toggles a:hover{
    box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.2);
}
.Works .posts{
    width: 100%;
    margin: 34px 0 0 0;
}
.Works .posts .post{
    width: 317px;
    height: 213px;
}
.Works button:focus {
    outline: none;
}
.Works .posts .post{
    position: relative;
    background-color: #9966cc;
}
.Works .posts .post img{
    width: 100%;
    height: 100%;
}
.Works .posts .post h6,
.Works .posts .post h6+p{
    display: none;
}
.Works .posts .post:hover img{
    display: none;
}
.Works .posts .post:hover h6{
    padding-top: 40px;
    animation: anime-H6 0.5s ease-out;
}
.Works .posts .post:hover h6+p{
    animation: anime-p 0.5s ease-out;
}
.Works .posts .post:hover h6,
.Works .posts .post:hover h6+p{
    display: block;
}
.Works .posts .design h6,
.Works .posts .urban h6,
.Works .posts .posters h6{
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}
.Works .posts .design p,
.Works .posts .urban p,
.Works .posts .posters p{
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: rgba(249, 249, 249, 255);
    text-align: center;
    padding: 0 42px;
}
@keyframes anime-H6 {
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes anime-p {
    0%{
        opacity: 0;
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


