
.contact {
  background-color: @background_color_7;
  padding-top: 50px;
  .sub-title {
    margin-top: 8px;
  }
  .contacts-list {
    display: grid;
    grid-template-columns: 177px 177px 177px;
    justify-content: center;
    grid-column-gap: 47px;
    margin-bottom: 10px;
    .street {
      font-family: @font_family_3;
      font-size: 14px;
      color: @color_16;
      text-align: center;
      line-height: 2.3;
      .fa-map-marker-alt {
        padding-right: 10px;
      }
    }
    .number {
      font-family: @font_family_3;
      font-size: 14px;
      color: @color_16;
      text-align: center;
      line-height: 2.3;
      .fa-mobile-alt {
        padding-right: 10px;
        font-size: 12px;
      }
    }
    .emel {
      font-family: @font_family_3;
      font-size: 14px;
      color: @color_16;
      text-align: center;
      line-height: 2.3;
      .fa-envelope-o {
        padding-right: 10px;
        font-size: 14px;
      }
    }
  }
}

.maps {
  iframe {
    height: 400px;
    width: 100%;
    border: 0;
  }
}
