
.footer {
  background-color: @background_color_17;
  position: relative;
  padding-top: 60px;
  h6 {
    font-family: @font_family_2;
    font-size: 18px;
    color: @color_20;
    text-align: left;
    text-transform: uppercase;

  }
  .info-text-footer {
    margin-top: 43px;
    p {
      font-family: @font_family_3;
      font-size: 14px;
      color: @color_16;
      text-align: left;
      line-height: 1.3;
      padding: 0 2px;
      margin-bottom: 32px;
    }
    p:nth-child(2) {
      margin-bottom: 18px;
    }
    span {
      color: @color_3;
    }

    .hours {
      font-family: @font_family_3;
      font-size: 12px;
      color: @color_21;
      text-align: left;
    }
    .Email {
      width: 100%;
      font-family: @font_family_3;
      font-size: 14px;
      padding: 0 14px;
      height: 35px;
      border-radius: 6px;
      border: 1px solid rgba(204, 204, 204, 255);
      //margin-top: 9px;
      &::placeholder {
        color: @color_21;
      }
      &:focus {
        outline: -webkit-focus-ring-color auto 0px
      }
    }

    button {
      text-transform: uppercase;
      font-family: @font_family_3;
      font-size: 16px;
      color: @color_20;
      text-align: center;
      width: 147px;
      height: 36px;
      border-radius: 50px;
      border: 2px solid #9966cc;
      background-color: @background_color_18;
      margin-top: 40px;
    }
    .anchor {
      background-color: @background_color_19;
      height: 35px;
      width: 35px;
      border-radius: 6px;
      position: absolute;
      left: 165%;
      bottom: 52px;
      &:hover {
        //box-shadow: 0 0 15px #9966cc;
      }
    }
    .fa-angle-double-up {
      font-size: 22px;
      color: @color_21;
      font-size: 22px;
      transform: translate(10px, 6px);
      &:hover {
        color: @color_14;
      }
    }
  }
  hr {
    background-color: @background_color_9;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .mt-5, .my-5 {
    margin-top: 0rem !important;
  }
  .mt-3, .my-3 {
    margin-top: 0rem !important;
  }
  .mb-4, .my-4 {
    margin-bottom: 0rem !important;
  }

}
