@keyframes anime-H4 {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.header-top {
  background: linear-gradient(to bottom right, #8f66b9, #ca7f2f);
  .container {
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    margin: 0 auto;
    .row {
      display: flex;
      padding-left: 0px;
      padding-right: 0px;
      @media screen and (max-width: 1247px) {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
    .col-social {
      width: 13%;
      border-right: 1px solid #bda6c1;
      padding: 14px 0;
      @media screen  and (max-width: 915px) {
        width: 14%;
      }
      @media screen  and (max-width: 862px) {
        width: 15%;
        padding: 10px 0;
      }
      @media screen  and (max-width: 810px) {
        width: 16%;
      }
      @media screen  and (max-width: 708px) {
        width: 18%;
      }
      @media screen  and (max-width: 660px) {
        width: 23%;
      }
      @media screen  and (max-width: 508px) {
        width: 100%;
        padding: 4px 21px;
        display: flex;
        justify-items: center;
        border-bottom: 1px solid #bda6c1;
      }
      span {
        margin: 0 0 0 20px;
        @media screen and (max-width: 1147px) {
          margin: 0 0 0 10px;
        }
        @media screen  and (max-width: 950px) {
          margin: 0 0 0 5px;
        }
        a {
          margin: 5px 5px;
          @media screen  and (max-width: 1079px) {
            margin: 5px 3px;
          }
          i {
            font-size: 18px;
            color: @color_3;
            @media screen  and (max-width: 785px) {
              font-size: 17px;
            }
            &:hover {
              color: @color_4;
            }
          }
        }
      }
    }
    .col-empty {
      width: 49%;
      border-right: 1px solid #bda6c1;
      @media screen  and (max-width: 1079px) {
        width: 45%;
      }
      @media screen  and (max-width: 950px) {
        width: 38%;
      }
      @media screen  and (max-width: 915px) {
        width: 37%;
      }
      @media screen  and (max-width: 862px) {
        width: 36%;
      }
      @media screen  and (max-width: 810px) {
        width: 35%;
      }
      @media screen  and (max-width: 737px) {
        width: 32%;
      }
      @media screen  and (max-width: 708px) {
        width: 25%;
      }
      @media screen  and (max-width: 660px) {
        width: 0%;
        border-right: none;
      }

    }
    .col-Email {
      width: 20.5%;
      border-right: 1px solid #bda6c1;
      padding: 9px 0;
      @media screen  and (max-width: 1079px) {
        width: 22.5%;
      }
      @media screen  and (max-width: 950px) {
        width: 25.5%;
        text-align: center;
      }
      @media screen  and (max-width: 785px) {
        padding: 8px 0;
      }
      @media screen  and (max-width: 737px) {
        width: 27%;
      }
      @media screen  and (max-width: 708px) {
        width: 30.5%;
      }
      @media screen  and (max-width: 660px) {
        width: 38.5%;
      }
      @media screen  and (max-width: 508px) {
        width: 100%;
        padding: 2px 3px;
        display: flex;
        justify-items: center;
        border-bottom: 1px solid #bda6c1;
      }
      p {
        @media screen  and (max-width: 508px) {
          margin-left: 24px;
        }
      }
    }
    .Email {
      display: flex;
      justify-content: center;
    }
    .col-phone {
      width: 17%;
      margin: 9px 0;
      @media screen  and (max-width: 1079px) {
        width: 19%;
      }
      @media screen  and (max-width: 950px) {
        display: grid;
        justify-items: center;
        width: 23.5%;
      }
      @media screen  and (max-width: 785px) {
        margin: 8px 0;
      }
      @media screen  and (max-width: 737px) {
        width: 25%;
      }
      @media screen  and (max-width: 708px) {
        width: 26.5%;
      }
      @media screen  and (max-width: 660px) {
        width: 38.5%;
      }
      @media screen  and (max-width: 508px) {
        width: 100%;
        padding: 2px 3px;
        display: flex;
        justify-items: center;
        border-bottom: 1px solid #bda6c1;
      }
      p {
        @media screen  and (max-width: 508px) {
          margin-left: 24px;
          margin-top: 0px;
        }
      }

    }
  }
  .Phone {
    text-align: end;
    padding-right: 7px !important;
  }
  .latoReg {
    font-family: @font_family_3;
    font-size: 15px;
    color: @color_5;
    line-height: 2;
    @media screen  and (max-width: 785px) {
      font-size: 14px;
    }
  }
  .latoBolt {
    font-family: @font_family_2;
    font-size: 17px;
    margin-top: 2px;
    @media screen  and (max-width: 785px) {
      font-size: 16px;
    }
  }
  p {
    color: @color_6;
    margin-bottom: 0rem;
  }

  .container.col-Email {
    .latoBolt {
      padding-left: 3px;
    }
  }
  hr {
    width: 100%;
    color: @color_7;
    height: 1px;
    background-color: @background_color_1;
    border: none;
    margin-top: 0rem;
    margin-bottom: 0rem;
    @media screen  and (max-width: 508px) {
      display: none;
    }
  }
  .header_Main {
    position: relative;
    padding-top: 43px;
    padding-bottom: 100px;
    @media screen  and (max-width: 570px) {
      padding-bottom: 79px;
    }
    h4 {
      font-size: 41px;
      color: @color_3;
      text-align: center;
      text-transform: uppercase;
      font-family: @font_family_4;
      animation: anime-H4 1.9s ease-out;
      @media screen  and (max-width: 1079px) {
        font-size: 36px;
      }
    }
    .hamburger-button {
      display: none;
      @media screen  and (max-width: 700px) {
        display: block;
        margin-top: 30px;
        .icon {
          position: absolute;
          //top: 18%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 33px;
          width: 100px;
          cursor: pointer;
          background: transparent;
          border: 1px solid #bda6c1;
          span {
            font-weight: 600;
            font-size: 15px;
            text-transform: uppercase;
            color: #ffffff;
            //font-family: 'Lato-Bold';
            font-family: 'Lato-Regular';
            float: right;
            margin-top: 2px;
            margin-right: 6px
          }
          .hamburger {
            width: 20px;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 18%;
            transform: translate(-50%, -50%);
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
            transition: 0.5s;
            &:after {
              content: '';
              width: 20px;
              height: 2px;
              background: #fff;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
              transition: 0.5s;
              top: 8px;
            }
            &:before {
              content: '';
              width: 20px;
              height: 2px;
              background: #fff;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
              transition: 0.5s;
              top: -6px;
            }
          }
          &:hover {
            box-shadow: 0 0 15px #bda6c1;
          }
        }

        .icon.active {
          .hamburger {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
            background: rgba(0, 0, 0, 0);
            &:before {
              top: 0;
              left: 0;
              transform: rotate(45deg);
            }
            &:after {;
              top: 0;
              left: 0;
              transform: rotate(135deg);
            }
          }
        }

      }
    }
    .nav {
      width: 65%;
      margin: 10px auto;
      @media screen  and (max-width: 1079px) {
        width: 70%;
        justify-content: space-between;
      }
      @media screen  and (max-width: 950px) {
        width: 70%;
      }
      @media screen  and (max-width: 915px) {
        width: 80%;
      }
      @media screen  and (max-width: 700px) {
        display: none;
        width: 65%;
        text-align: center;
        margin-top: 52px;
      }
      > li {
        > a {
          &:hover {
            background-color: @background_color_4;
            text-decoration: underline;
          }
        }
      }
    }
    .nav-item {
      margin: 0 9px;
      @media screen and (max-width: 1147px) {
        margin: 0 5px;
      }
      @media screen  and (max-width: 1079px) {
        margin: 0 auto;
      }
      @media screen  and (max-width: 991px) {
        margin: 0 0;
      }
      .active {
        color: @color_3;
      }
    }
    .nav-link {
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
      color: @color_5;
      font-family: @font_family_2;
      @media screen  and (max-width: 991px) {
        padding: .5rem 0rem;
      }
    }
    .carousel {
      height: auto;
      margin-top: 160px;
      @media screen  and (max-width: 1079px) {
        margin-top: 150px;
      }
      @media screen  and (max-width: 785px) {
        margin-top: 140px;
      }
      @media screen  and (max-width: 708px) {
        margin-top: 130px;
      }
      @media screen  and (max-width: 660px) {
        margin-top: 125px;
      }
    }
    .carousel-indicators {
      @media screen  and (max-width: 410px) {
        position: absolute;
        top: 387px;
      }
    }
    .carousel-inner {
      margin: 0 11%;
      width: 77%;
      @media screen  and (max-width: 508px) {
        width: 90%;
        margin: 0 auto;
      }
    }
    h1 {
      font-family: @font_family_2;
      font-size: 96px;
      color: @color_8;
      text-align: center;
      text-transform: uppercase;
      line-height: 80px;
      margin-bottom: -11px;
      @media screen  and (max-width: 1079px) {
        font-size: 90px;
      }
      @media screen  and (max-width: 708px) {
        font-size: 88px;
      }
      @media screen  and (max-width: 660px) {
        font-size: 84px;
      }
      @media screen  and (max-width: 570px) {
        font-size: 80px;
      }
      @media screen  and (max-width: 508px) {
        font-size: 66px;
      }
      @media screen  and (max-width: 410px) {
        font-size: 62px;
      }
      @media screen  and (max-width: 390px) {
        font-size: 52px;
      }
      @media screen  and (max-width: 340px) {
        font-size: 50px;
      }
    }
    .carousel-item {
      p {
        &:nth-child(2) {
          font-family: @font_family_2;
          text-transform: uppercase;
          font-size: 30px;
          color: @color_8;
          text-align: center;
          margin-bottom: 0rem;
          margin-top: 22px;
          @media screen  and (max-width: 1079px) {
            font-size: 20px;
          }
          @media screen  and (max-width: 570px) {
            font-size: 17px;
          }
          @media screen  and (max-width: 508px) {
            font-size: 16px
          }
          @media screen  and (max-width: 365px) {
            font-size: 15px;
            margin-top: 14px;
          }
        }
        &:nth-child(3) {
          font-family: @font_family_3;
          text-align: center;
          font-size: 18px;
          color: @color_8;
          margin-top: 57px;
          line-height: 1;
          @media screen  and (max-width: 1079px) {
            font-size: 17px;
          }
          @media screen  and (max-width: 570px) {
            font-size: 14px;
            margin-top: 37px;
          }
        }
      }
    }
    button {
      border: 2px solid #cccccc;
      border-radius: 50px;
      background-color: @background_color_2;
      color: @color_3;
      font-size: 16px;
      text-transform: uppercase;
      display: flex;
      margin: 37px auto;
      padding: 6px 31px;
      &:hover {
        color: @color_9;
        border: 2px solid #4e108c;
      }
      @media screen  and (max-width: 1079px) {
        padding: 5px 30px;
      }
    }
    .carousel-control-next {
      width: 5%;
    }
    .carousel-control-prev {
      width: 5% !important;
    }
    .carousel-control-next-icon {
      height: 0;
      position: absolute;
      top: 102px;
      left: 2px;
      @media screen  and (max-width: 700px) {
        left: -8px;
        top: 98px;
      }
      @media screen  and (max-width: 600px) {
        display: none;
      }

    }
    .carousel-control-prev-icon {
      background-image: none;
      position: absolute;
      top: 102px;
      right: 12px;
      @media screen  and (max-width: 700px) {
        left: 9px;
      }
      @media screen  and (max-width: 600px) {
        display: none;
      }

    }
    .carousel-indicators {
      position: absolute;
      top: 418px;
      @media screen  and (max-width: 570px) {
        position: absolute;
        top: 387px;
      }
      @media screen  and (max-width: 508px) {
        position: absolute;
        top: 387px;
      }
      li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 8px;
        height: 8px;
        border-radius: 20px;
        margin-right: 8px;
        margin-left: 8px;
        text-indent: -999px;
        cursor: pointer;
        background-color: @background_color_3;
        background-colip: none;
        border-top: none;
        border-bottom: none;
        opacity: .5;
        transition: opacity .6s ease;
      }
      .active {
        opacity: 1;
        width: 8px;
        height: 8px;
        border: 3px solid white;
        background-color: @background_color_2;
        margin-top: -3px;
      }
    }
    .far {
      font-size: 30px;
    }
  }
  .header_Main.carousel-control-prev-icon {
    height: 0;
  }

}





