
.services {
  margin-top: 50px;
  h4 {
    font-family: @font_family_2;
    font-size: 30px;
    color: @color_2;
    text-align: center;
  }
  .display-slider {
    height: 640px;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    @media screen and (max-width: 991px){
      display: contents;
    }
    .slider {
      padding: 18% 7%;
      height: 640px;
      background-color: @background_color_10;
      font-family: 'Lato-Regular';
      font-size: 16px;
      color: @color_8;
      text-align: center;
    }
  }
  .js-display-services {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    @media screen and (max-width: 991px){
      grid-template-rows: 175px 175px 175px;
      margin-top: -30px;
    }
    a {
      color: @color_16;
      display: grid;
      justify-items: center;
      text-decoration: none;
      &:hover {
        color: @color_14;
      }
      i {
        font-size: 36px;
        @media screen and (max-width: 400px){
          font-size: 33px;
        }
      }
      span {
        font-family: 'Lato-Bold';
        font-size: 24px;
        margin-top: 22px;
        @media screen and (max-width: 400px){
          font-size: 21px;
        }
      }
    }
    a.active {
      color: @color_2;
      text-decoration: none !important;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 8%;
    right: 2%;
    button:before {
      font-family: 'slick';
      font-size: 8px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '•';
      text-align: center;
      opacity: 1;
      color: #b1b1b1;
    }
    li.slick-active {
      button:before {
        opacity: 1;
        color: transparent;
        width: 12px;
        height: 12px;
        border: 2.5px solid white;
        border-radius: 10px;
        margin-top: 3px;
      }
    }
  }
}
