@color_1: #666666;
@color_2: rgba(51, 51, 51, 255);
@color_3: #ffffff;
@color_4: #7f00ff57;
@color_5: #e5e5e5;
@color_6: white;
@color_7: #bda6c1;
@color_8: rgba(255, 255, 255, 255);
@color_9: #4e108c;
@color_10: #9966cc;
@color_11: rgba(177, 177, 177, 255);
@color_12: #333333;
@color_13: black;
@color_14: #9149da;
@color_15: rgba(102, 102, 102, 255);
@color_16: rgba(153, 153, 153, 255);
@color_17: #cccccc;
@color_18: #999999;
@color_19: rgba(249, 249, 249, 255);
@color_20: rgba(255, 255, 255, 255);
@color_21: rgba(204, 204, 204, 255);
@color_22: rgba(153, 102, 204, 255);
@color_23: #bd7677;
@color_24: #edb67a;
@color_25: #e0e0e0;
@color_26: #c2cad4;
@color_27: none;
@color_28: #495057;
@color_29: #e1e1e1;
@color_30: #ced4da;
@font_family_1: 'Georgia';
@font_family_2: 'Lato-Bold';
@font_family_3: 'Lato-Regular';
@font_family_4: 'Anders';
@font_family_5: 'Lato-Italic';
@background_color_1: #bda6c1;
@background_color_2: transparent;
@background_color_3: #fff;
@background_color_4: #eeeeee00;
@background_color_5: #f9f9f9;
@background_color_6: #9966cc;
@background_color_7: #ffffff;
@background_color_8: #cccccc;
@background_color_9: #666666;
@background_color_10: #636363;
@background_color_11: #adadad;
@background_color_12: #e3e3e3;
@background_color_13: #333333;
@background_color_14: #bd7677;
@background_color_15: #edb67a;
@background_color_16: #ccc0;
@background_color_17: #222222;
@background_color_18: black;
@background_color_19: #313131;
@border_color_1: #cccccc;



